<% include ../partials/tags.ejs %>

<nav>
    <a href='/'><h2>MyDND dot PARTY</h2></a>
    
    <script>
        function leggo() {
            document.location.href = '/search?q='+$('#sadness_bar').val();   
        }
        function searchModal() {
            $('.advanced_search_modal').addClass('show');   
        }
        function hideModal() {
            $('.advanced_search_modal').removeClass('show');   
        }
        $('#sadness_bar').bind('enterKey', function() {
            leggo();
        });
        $('#sadness_bar').keyup(function(e){
            console.log(e.keyCode);
            if(e.keyCode == 13) {
                $(this).trigger("enterKey");
            }
        });
        $('#sadness_normal').click(function() {
            leggo(); 
        });
        $('#sadness_special').click(function() {
            searchModal(); 
        });
    </script>
</nav>

<div class='advanced_search_modal'>
    <b class='close_search_modal' onclick='hideModal()'>X</b>
    <input type='search' id='search_modal_search' placeholder="Search..." />
    <span class='submission_tag_title'>Tags</span>
    <script>
        for(i in tags) {
            var t = tags[i];
            document.write(t.name+'<input type="checkbox" class="submission_tag" id="'+t.id+'" />');
        }
    </script>
    <span class='submission_tag_title'>Categories</span>
    <script>
        for(i in categories) {
            var c = categories[i];
            document.write(c.name+'<input type="checkbox" class="submission_tag" id="'+c.id+'" />');
        }   
    </script>
    <button class='sadness_button' id='sadness_advanced'>Search</button>
    <script>
        $('#sadness_advanced').click(function() {
            var tout = "";
            for(i=0;i<tags.length;i++) {
                if($('#'+tags[i].id)[0].checked) {
                    tout += tags[i].id+",";  
                }
            }
            var cout = "";
            for(i=0;i<categories.length;i++) {
                console.log(i);
                if($('#'+categories[i].id)[0].checked) {
                    cout += categories[i].id+",";  
                }
            }
            document.location.href = '/search?q='+$('#search_modal_search').val()+"&tag="+tout+"&category="+cout; 
        });
    </script>
</div>