<nav>
    <h2>MyDND</h2>
    <input type='search' id='sadness_bar' autofocus placeholder='Search for resources & links'><br>
    <button id='sadness_normal' class='sadness_button'>Search</button>
    <br><br>
    <a href='/add'>Submit a new resource</a>
    <a href='/campaign'>Shortlink to your campaign</a>
</nav>