.dynamic_tag {
    border-bottom: dashed 1px #333;
    cursor: pointer;
}
.dynamic_item {
    display: block;
    text-align: center;
    font-size: 36pt;
    margin-top: 16px;
    color: #999;
    font-weight: 100;
}
span.dynamic_tag_remove {
    font-size: 10pt;
    vertical-align: middle;
    margin-left: -32px;
    padding-right: 32px;
    cursor: pointer;
    font-weight: bold;
}
.dynamic_item:hover > .dynamic_tag_remove {
    color: blue;
}
#suggest_item {
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    text-align: center;
    display: block;
}
#add_item {
    display: block;
    margin-left: auto;
    margin-top: 32px;
    margin-right: auto;
    font-size: 15pt;
    text-transform: uppercase;
    border: #999 dashed 1px;
}

@media (max-width: 800px) {
    .dynamic_item {
        display: block;
        text-align: center;
        font-size: 24pt;
        margin-top: 16px;
        color: #999;
        font-weight: 400;
    }
}