* {
    /* transition:  all 0.5s; */
}
body {
    margin: 0px;
    margin-top: 80px;
}

h2 {
    display: inline-block;
    vertical-align: sub;
    margin-top: 25px;
    color: #90CAF9!important;
}
.navbar-brand {
    color: #90CAF9!important;
    font-weight: bold;
}
.sadness_button {
    text-transform: uppercase;
    font-weight: bold;
    background: inherit;
    border: dashed 2px white;
}
#sadness_bar {
    border: solid 1px #555;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 40vw;
    margin-left: 16px;
    font-size: 15pt;
}
input.general {
    display: block;
    margin-left:32px;
    margin-right:32px;
    margin-top:8px;
    margin-bottom:8px;
}
input.submission_tag {
    margin-right: 16px;
    margin-left: 4px;
}
.submission_tag_title {
    font-weight:bold;
    font-size:14pt;
    display:block;
    text-transform: uppercase;
    margin-left:32px;
    margin-top: 2em;
}
button.submission {
    display:block;
    margin-top:8px;
    margin-bottom:16px;
    margin-left:32px;
}
.nav_link {
    font-size: 9pt;
    text-transform: uppercase;
    margin-left: 8px;
    margin-right: 8px;
    transition: all 0.3s;
}
.nav_link:hover {
    color:#0f9;
}
.custom-control.custom-checkbox {
    display: inline-block;
    margin-right: 1em;
}
.search_card {
    display: block;
    background-color: #efefef;
    width: 400px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 4px;
    box-shadow: #999 0px 1px 2px 0px;
    margin-left: 32px;
    margin-bottom: 16px;
}
.search_title {
    font-size: 16pt;
    display: block;
    font-weight: bold;
    cursor: pointer;
}
.search_description {
    font-size: 11pt;
    display: block;
    margin-left: 16px;
    margin-bottom: 4px;
    opacity: 0.6;
}
.search_url {
    color: #0c6;
    opacity: 0.8;
    display: block;
    font-size: 8pt;
    text-transform: uppercase;
    margin-left: 16px;
}
.search_tags, .search_categories {
    display: block;
    margin-left: 16px;
}
.search_tag, .search_category {
    margin-right: 8px;
    font-size: 10pt;
    font-weight: 100;
}
#description {
    height: 6em;
}
#description_char_count {
    opacity: 0.7;
    font-size:9pt;
    margin-left:0;
    display: block;
    text-transform: uppercase;
}
p, .p-margin {
    margin-left: 32px;
    margin-right: 32px;
    max-width: 40em;
}

.flat {
    margin-bottom: .5em;
    text-transform: uppercase
}

/* button.flat {
    margin-left: auto;
    margin-top: 32px;
    margin-right: auto;
    font-size: 15pt;
    text-transform: uppercase;
    border: #999 dashed 1px;
} */

#content {
    font-size: 48pt;
    text-align: center;
}

.subcontent {
    font-size: 24pt;
    opacity: 0.6;
}

@media (max-width: 800px) {
    button.flat {
        margin-left: auto;
        margin-top: 16px;
        margin-right: auto;
        font-size: 12pt;
        text-transform: uppercase;
        border: #999 dashed 1px;
    }
    p {
        font-size: 13pt;
        margin-left: 16px;
    }
    ul {
        font-size: 13pt;
        margin-left: 24px;
    }
    h1 {
        margin-left:8px;
    }
    h3 {
        margin-left: 8px;
    }
    select {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }
    table {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    td {
        padding-left: 4px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media (min-width: 800px) {
    p {
        font-size: 13pt;
        margin-left: 120px;
    }
    ul {
        font-size: 13pt;
        margin-left: 140px;
    }
    h1 {
        margin-left: 100px;
    }
    h3 {
        margin-left: 100px;
    }
    select {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        font-size: 16pt;
    }
    table {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    td {
        padding-left: 4px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 13pt;
    }
}