<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body class="container">
    <% include ../partials/nav.ejs %>

    <h1>Add a new resource</h1>
    <p>We are curating the best DND resources for users to quickly find. If you have a great resource to share, please add it.</p>
    <form class='p-margin m-auto'>
        <input type='text' placeholder='Title' class='form-control' id='title'/>
        <label for='description' class='mt-4'>Give a brief description (no more than 140 characters)</label>
        <div contenteditable='true' class='form-control' id='description'></div><span id='description_char_count'></span>

        <h3 class='submission_tag_title'>Tags</h3>
        <script>
            for(i in tags) {
                var t = tags[i];
                document.write('<div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="'+t.id+'_" />'+'<label class="custom-control-label" for="'+t.id+'_">'+t.name+'</label></div>');
            }
        </script>

        <h3 class='submission_tag_title'>Categories</h3>

        <script>
            for(i in categories) {
                var c = categories[i];
                document.write('<div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="'+c.id+'_" />'+'<label class="custom-control-label" for="'+c.id+'_">'+c.name+'</label></div>');
            }

            function refreshCharCount() {
                var dval = $('#description').html();
                var len = dval.length;
                $('#description_char_count').html(len);
                if(len > 140) {
                    $('#description_char_count').css('color', 'red');
                } else {
                    $('#description_char_count').css('color', '');
                }
            }
            setInterval(refreshCharCount, 300);
        </script>
        <br><br>
        <button type='button' id='submit' class='btn btn-primary'>Submit</button>
    </form>
    <script>
        $('#submit').click(function() {
            var tout = "";
            for(i=0;i<tags.length;i++) {
                if($('#'+tags[i].id)[0].checked) {
                    tout += tags[i].id+",";
                }
            }
            var cout = "";
            for(i=0;i<categories.length;i++) {
                console.log(i);
                if($('#'+categories[i].id)[0].checked) {
                    cout += categories[i].id+",";
                }
            }
            $.post('/api/v1/resources', {title: document.getElementById('title').value, description: document.getElementById('description').innerHTML, url: document.getElementById('url').value, tags:tout, categories:cout, submitted: new Date().getTime()}, function(response) {
                alert(response);
            });
        });
    </script>
</body>
</html>
