<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    
    <h1>Register your campaign</h1>
    Enter your campaign here and you can redirect it to your campaign website. It's a pretty short-link. mydnd.party/{title} or {title}.mydnd.party
    
    <input type='text' placeholder="Title" class='general' id='title'/><br>
    Give the redirect url<br>
    <input type="url" placeholder="Url" class='general' id='url' /><br>

    <button type="submit" id='submit'>Submit</button>
    <script>
        $('#submit').click(function() {
            $.post('/api/v1/campaigns', {name: document.getElementById('title').value, url: document.getElementById('url').value}, function(response) {
                alert(response); 
            });
        });
    </script>
</body>
</html>
