<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="/scripts/generators.js"></script>
</head>

<body class="container">
    <% include ../partials/nav.ejs %>

    <h1>Character Backstory Generator</h1>
    <p>Who is your character? What kind of backstory do they have? Figure that out with this generator. Let it inspire great, complicated characters to make the world that much more immersive.</p>
    <p>Click on each underlined phrase to randomly alter it. Click on the add button to add another item to the character's backstory.</p>

    <a href='https://github.com/Fleker/mydnd-party/issues/new' target="_blank" id='suggest_item'>Make a suggestion</a>

    <div id='dynamic_list'>

    </div>

    <button onclick='additem(true)' id='add_item' class='btn btn-success'>+ ADD</button>

    <script>
        const actions = [
                "skip", "whistle", "sing", "wrestle", "play sports",
                "flirt with others", "read", "spend time alone", "drink",
                "fight", "kill things", "bully", "steal", "hunt", "sleep",
                "dance", "meditate"
            ];
        const actions_past = [
                "stole", "killed", "beat"
            ];
        const addictables = [
                "gambling", "alcohol", "dreamweed", "medicine", "pedophilia"
            ];
        const ailments = [
                "blind", "deaf", "dumb", "retarded", "paralyzed", "insomiac",
                "stupid", "scarred", "crippled", "dying", "feverish", "ill",
                "dead", "pregnant", "on fire", "suicidal"
            ];
        const animals = [
                "raccoon", "horse", "cat", "bat", "dog", "owl", "raven",
                "pigeon", "cow", "sheep", "lamb", "deer", "wolf", "bear",
                "squirrel", "chipmunk", "chicken", "fish", "shark", "whale",
                "bird"
            ];
        const buildings = [
                "a puppet shop", "a library", "a school", "the nearby castle",
                "a bookstore", "an apothecary shop", "a nearby alley",
                "a local tavern"
            ];
        const careers = [
                "carpenter", "cooper", "messenger", "smith", "farmer", "cleaner",
                "prostitute", "knight", "adventurer", "bard", "thief", "merchant",
                "artist", "painter", "juggler", "street performer", "professor",
                "nun", "priest", "engineer", "writer", "poet", "baker", "butcher",
                "fisherman", "maester", "elder", "mayor", "former king", "queen",
                "former queen", "prince", "priestess", "princess", "athlete", "hero",
                "heroine", "animal tamer", "pirate", "ninja", "wizard", "witch",
                "warlock", "guard", "executioner", "hunter", "farmer", "hobo",
                "drunk", "apothecary", "herbalist", "soldier", "archer",
                "swordsman", "highwayman", "chef", "doctor", "murder-hobos",
                "barkeep", "swinder"
            ];
        const careers_skillable = [
                "carpenter", "smith", "cooper", "pirate", "swordsman", "knight"
            ];
        const clothing = [
                "some socks", "some shoes", "a hat", "a shirt", "some pants",
                "some undergarments", "boots", "helmet", "armor", "gloves",
            ];
        const dreams = [
                "find love", "gain power", "travel", "fly"
            ];
        const family = [
                "brother", "sister", "aunt", "uncle", "husband", "wife", "cousin",
                "nephew", "niece", "son", "daughter", "child", "grandfather",
                "grandmother", "grandson", "granddaughter", "great uncle",
                "great aunt", "great grandmother", "great grandfather",
                "great grandson", "great granddaughter", "dog", "cat", "horse",
                "cow", "chicken"
            ];
        const fearables = [
                "the dark", "clowns", "puppets", "snakes", "spiders"
            ];
        const items = [
                "ring", "magic ring", "bracelet", "magic bracelet", "diamond",
                "amulet"
            ];
        const items_plus = items.concat([
                "frog", "bird", "rabbit", "friend", "pet", "dog"
            ])
        const limbs = [
                "a hand", "an arm", "nose", "an ear", "both hands",
                "both arms", "both ears", "a foot", "both feet", "a leg",
                "both legs", "head", "toenail", "fingernail", "liver", "lung",
                "kidney", "genitalia", "hair", "a finger", "a toe"
            ];
        const limbs_special = [
                "eleventh toe", "eleventh finger", "mustache", "beard",
                "sideburns", "scar", "ambiguous genetalia",
                "double jointed elbow", "swollen ankles"
            ];
        const locations = [
                "river", "forest", "mountain", "cave", "tavern"
            ];
        const notables = [
                "Birthday is today", "A wanted criminal",
                "Whistles folk tunes", "Natural born leader",
                "Experiences frequent nightmares"
            ];
        const persons = [
                "apothecary", "neighbor", "elves", "imps", "orcs"
            ];
        const personalities = [
                "thirsty", "angry", "depressed", "nilhistic", "existenstial",
                "humorless", "lowbrow", "obnoxious", "arrogant", "sneaky",
                "alcoholic", "gullible", "horny", "greedy", "hungry",
                "intelligent", "easily excitable", "poor", "happy", "friendly",
                "sarcastic", "selfish", "nonreligious", "virgin", "charismatic"
            ];
        const prices = [
                "much gold", "a few copper pieces", "not much", "a bargain",
                "cheaper than expected", "too much", "everything they owned"
            ];
        const relationships = [
                "in love with", "hates", "racist against", "afraid of"
            ];
        const scaries = [
                "spiders", "heights", "letting friends down", "snakes",
                "bees", "insects"
            ];
        const superlatives = [
                "best", "worst", "smartest", "stupidest", "strongest",
                "weakest", "scariest"
            ];
        const time_day = [
                "first thing in the morning", "before they go to sleep",
                "at noon", "at dawn", "at dusk"
            ];
        const weapons = [
                "shield", "sword", "dagger", "knife", "spear", "bow",
                "masterwork sword"
            ];

        const map = {
            actions: actions,
            actions_past: actions_past,
            addictables: addictables,
            ailments: ailments,
            animals: animals,
            buildings: buildings,
            careers: careers,
            careers_skillable: careers_skillable,
            clothing: clothing,
            dreams: dreams,
            family: family,
            fearables: fearables,
            items: items,
            items_plus: items_plus,
            limbs: limbs,
            limbs_special: limbs_special,
            locations: locations,
            notables: notables,
            persons: persons,
            personalities: personalities,
            prices: prices,
            relationships: relationships,
            scaries: scaries,
            superlatives: superlatives,
            time_day: time_day,
            weapons: weapons
        };

        const lines = [
                `Is ${genNumber([0, 150])} years old`,
                `Is ${gen('ailments')}`,
                `Is ${gen('personalities')}`,
                `Likes to walk to the nearby ${gen('locations')}`,
                `Likes to ${gen('actions')}`,
                `${gen('superlatives')} ${gen('careers_skillable')} in the land`,
                `Works as a ${gen('careers')}`,
                `Works in ${gen('buildings')}`,
                `Works as a ${gen('careers')} at ${gen('buildings')}`,
                `Is missing ${gen('limbs')}`,
                `Has a ${gen('ailments')} ${gen('family')}`,
                `Has a ${gen('personalities')} ${gen('family')}`,
                `Sold a ${gen('ailments')} ${gen('family')} for ${gen('prices')}`,
                `Has a ${gen('family')} missing ${gen('limbs')}`,
                `Has ${gen('limbs_special')}`,
                `Has a pet ${gen('animals')}`,
                `Best friend is a ${gen('personalities')} ${gen("animals")}`,
                `Recently bought a ${gen('weapons')} for ${gen('prices')}`,
                `Recently bought ${gen('clothing')} for ${gen('prices')}`,
                `Family heirloom is an old ${gen('weapons')}`,
                `Family heirloom is an old ${gen('items')}`,
                gen('notables'),
                `Wants to ${gen('dreams')}`,
                `Afraid of ${gen('scaries')}`,
                `${gen('relationships')} ${gen('persons')}`,
                `${gen('actions_past')} ${gen('items_plus')} when they were younger`,
                `Often hangs out in ${gen('buildings')}`,
                `Does ${gen('actions')} ${gen('time_day')}`,
                `Addicted to ${gen('addictables')}`,
                `Has a fear of ${gen('fearables')}`
            ];

        additem(true);
    </script>
</body>
</html>