<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    
    <h1>Welcome to MyDND.party</h1>
    <p>This website contains a variety of useful tools for dungeon masters and players.</p>
    <ul>
        <li><a href='/generators/backstory/'>Backstory Generator</a></li>
        <li><a href='/generators/town/'>Fantasy Town Name Generator</a></li>
    </ul>
    <p>This project is in beta. Please <a href='http://github.com/fleker/mydnd-party/issues/new' target="_blank">leave feedback</a> on what you want to see.</p>
</body>
</html>
