<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    
    <h1>Welcome to MyDnD.party</h1>
    <p>This website contains a variety of useful tools for dungeon masters and players.</p>

    <h3>Generators</h3>
    <ul>
        <li><a href='/generators/backstory/'>Backstory Generator</a></li>
        <li><a href='/generators/town/'>Fantasy Town Name Generator</a></li>
        <li><a href='/generators/inn/'>Inn Name Generator</a></li>
    </ul>

    <h3>Dice Tables</h3>
    <ul>
        <li><a href='/tables/nighttime'>Overnight Encounters</a></li>
        <li><a href='/tables/weather'>Weather</a></li>
    </ul>

    <h3>Useful Tools</h3>
    <ul>
        <li><a href='/tools/time'>In-Game Clock</a></li>
    </ul>

    <h3>Interesting Links</h3>
    <p>Here are some interesting links from around the web.</p>
    <ul>
        <li><a href='https://olddungeonmaster.wordpress.com/2016/12/02/dd-5e-metals/'>DnD 5e Metals</a></li>        
    </ul>
    <p>This project is in beta. Please <a href='http://github.com/fleker/mydnd-party/issues/new' target="_blank">leave feedback</a> on what you want to see.</p>
</body>
</html>
