<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    
    <h1>Welcome to MyDnD.party</h1>
    <p>This website contains a variety of useful tools for dungeon masters and players.</p>

    <p>Check out the <a href='/blog'><strong>blog</strong></a> for continuing ideas and content.</p>

    <h3>Generators</h3>
    <ul>
        <li><a href='/generators/backstory/'>Backstory Generator</a></li>
        <li><a href='/generators/town/'>Fantasy Town Name Generator</a></li>
        <li><a href='/generators/inn/'>Inn Name Generator</a></li>
    </ul>

    <h3>Dice Tables</h3>
    <ul>
        <li><a href='/tables/nighttime'>Overnight Encounters</a></li>
        <li><a href='/tables/weather'>Weather</a></li>
    </ul>

    <h3>Useful Tools</h3>
    <ul>
        <li><a href='/tools/time'>In-Game Clock</a></li>
    </ul>

    <h3>Handy Lists</h3>
    <ul>
        <li><a href='/lists/facilities'>Town Facilities</a></li>
    </ul>
    <p>This project is in beta. Please <a href='http://github.com/fleker/mydnd-party/issues/new' target="_blank">leave feedback</a> on what you want to see.</p>
</body>
</html>
