<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    
    <h1>Welcome to MyDND.party</h1>
    While this is definitely not going to be a one-stop shop, it is meant to make it easy to get to all the places you need for your campaign. You can search for information users have created from all across the web, and our shortlink service will make it easy for users to remember the URL for online campaigns. In the future we plan to add custom tools to help with the process of world-building and character generation.
</body>
</html>
