<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <% include ../partials/tags.ejs %>
    
        <h1>Search Results</h1>
        
        <div id='results'></div>
        <script>
            query = window.location.query;
            $.get('/api/v1/resources', {tag: query, category: query, name: query}, function(res) {
                console.log(res, res.results.length);
                for(index=0;index<res.results.length;index++) {
                    console.log(res.results[index])
                    $('#results').append(createSearchCard(res.results[index]));
                }
            });
            function createSearchCard(item) {
                out = "<span class='search_card'>";
                out += "<span class='search_title'><a href='/api/v1/resources/"+item.id+"/click'>"+item.title+"</a></span>";
                out += "<span class='search_description'>"+item.description+"</span>";
                out += "<span class='search_url'>"+item.url+"</span>";
                out += "<span class='search_tags'>";
                for(i=0;i<tags.length;i++) {
                    if(item.tags.indexOf(tags[i].id) > -1) {
                        out += "<span class='search_tag'>"+tags[i].name+"</span>";
                    }
                }
                out += "</span>";
                out += "<span class='search_categories'>";
                for(i=0;i<categories.length;i++) {
                    if(item.categories.indexOf(categories[i].id) > -1) {
                        out += "<span class='search_category'>"+categories[i].name+"</span>";
                    }
                }
                out += "</span></span>";
                return out;
            }        
        </script>
    </body>
</html>
